* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   padding:  0 60px;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.botton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: 40px 120px;
    position: relative;
    z-index: 2;
    /* border: 2px solid black; */
}
button {
    border: none;
    outline: none;
    padding: 18px 32px;
    cursor: pointer;
    border-radius: 8px;
}
.btn1:hover {
    background-color: rgb(111, 162, 251);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.btn2:hover {
    background-color: rgb(221, 178, 205);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.btn3:hover {
    background-color: rgb(236, 203, 157);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.btn4:hover {
    background-color: rgb(110, 213, 10);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.btn5:hover {
    background-color: rgb(223, 245, 245);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.btn6:hover {
    background-color: rgb(173, 163, 238);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.image-div img {
    width: 120px;
}
.image-div {
    width:fit-content;
    position: absolute;
    padding-top: 20px;
    bottom: 10px;
    right: 10px;
    background-color: transparent; 
    width: fit-content;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    color: black;
    transition: 0.7s ease-in-out ;
    text-align: center;
    z-index: 5;
}
/* .inner-div {
    width: 80px;
}
.inner-div p{
    text-align: center;
} */
.image-div img {
    /* visibility: hidden; */
}

 
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    background-color: black;
    /* z-index: 2; */
  }
  
  .overlay.active{
      opacity: 1;
  }